.footer {
    width: 100%;
    height: auto;
    background: $color-primary-dark;
    color: $color-secondary-light;

    &__logo-box {
        display: inline-block;;
        padding: 6rem;
        width: 33%;
    }

    &__logo {
        margin-top: -2.5rem;
        height: 4rem;
    }

    &__brand {
        font-size: 1.5rem;
        font-weight: 300;
        color: inherit;
        margin-left: 1rem;
    }

    &__nav {
        width: 67%;
        padding: 5rem 1rem 1rem 1rem;
        display: inline-block;
        color: $color-secondary;
        vertical-align: top;


        &-list {
            display: inline-block;
            vertical-align: top;
            transition: $ease-in-out;
            
            &:not(:last-child) {
                margin-right: 10rem;       
            }
        }

        &-title {
            margin-bottom: 1rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
            color: inherit;
        }

        &-item {
            list-style: none;
            
            &:not(:last-child) {
                margin: 0;
            }
        }

        &-link {
            display: block;
            font-family: sans-serif;

            &:link,
            &:visited {
                color: $color-secondary;
                font-size: 1.5rem;
                line-height: 2.25rem;
            }

            &:hover,
            &:active {
                color: $color-secondary-light-alt;
                transition: $ease-in-out;
            }
        }
    }
}