.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    padding: 2rem 4rem;
    background: $color-white;
    z-index: 2000;
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    &__brand {
        height: 4rem;
    }

    &__button {
        position: fixed;
        top: 4rem;
        right: 4rem;
        height: 4rem;
        width: 4rem;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__menu-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: .6rem;
        transform: translate(-50%, -50%);
        border-radius: 1rem;
        background-color: $color-primary;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: .6rem;
            border-radius: 1rem;
            background-color: $color-primary;
            transition: $ease-default;
        }

        &::before {
            top: -1.1rem;

            &:hover {
                top: -1.2rem;
            }
        }

        &::after {
            top: 1.2rem;

            &:hover {
                top: 1.3rem;
            }
        }
    }

    &__nav {
        position: fixed;
        top: 8rem;
        right: -100%;
        width: 66%;
        height: 100%;
        background-color: rgba(255,255,255,0.9);
        transition: $ease-default;
    }

    &__title {
        padding: 2rem 0 3rem 0;
        font-size: 5rem;
        font-weight: 400;
        color: $color-white;
        border-bottom: 1px solid $color-black;
        
        strong {
            font-weight: 700;
        }
    }

    &__list {
        margin-top: 2rem;
    }

    &__item {
        margin: 0 auto;
        width: 50%;
        list-style: none;
    }

    &__link,
    &__link:visited {
        display: block;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        color: $color-secondary;

        &:not(:last-child) {
            border-bottom: 1px solid $color-black;
        }
    }

    &__toggle {
        display: none;
    }

    &__toggle:checked ~ &__nav {
        left: 0;
    }

  
}