.navigation {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 3rem;
	color: $color-white;
	z-index: 20;
	
	&__logo-box {
		display: inline-block;
	}

	&__logo {
		position: absolute;
		top: 20px;
		left: 5rem;
		height: 60px;
	}

	&__brand {
		font-size: 3rem;
	}

	&__nav {
		float: right;
		display: inline-block;
		margin-right: 5rem;
	}

	&__nav-container {
		display: inline-block;
	}

	&__divider {
		display: inline-block;
		position: relative;
		top: 0;
		margin: 0.5rem;
		width: 1px;
		height: 3rem;
		background-color: $color-white;
	}

	&__item {
		list-style: none;
		display: inline-block;

		&:not(:last-child) {
			margin: 0;
		}
	}

	&__link {
		display: inline-block;
		transition: $ease-in-out;
		line-height: 10rem;
		padding: 0 1rem;

		&:link,
		&:visited {
			font-size: 1.5rem;
			color: $color-white;
			display: inline-block;
			text-decoration: none;
		}

		&:hover{
			color: $color-white-dark;
			transition: $ease-in-out;
		}
	}
}