.navigation {
	display: flex;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 6.25rem;
	z-index: 20;

	@include respond (tab-port) {
		display: none;
	}

	&__nav-container {
		display: inline-flex;
	}

	&__nav {
		position: absolute;
		display: flex;
		justify-content: flex-end;
		height: 6.25rem;
		right: 0;
		margin-right: 4rem;
	}
	
	&__logo-box {
		display: inline-block;
		height: 6.25rem;
	}

	&__logo {
		margin-top: 1.125rem;
		height: 4rem;
		margin-left: 4rem;
	}

	&__brand {
		font-size: 3rem;
	}

	&__divider {
		position: relative;
		display: inline-block;
		top: 1.5625rem;
		margin: 0 0.5rem;
		width: 1px;
		height: 3.125rem;
		line-height: 6.25rem;
		background-color: $color-primary-dark;
	}

	&__item {
		display: flex;
		line-height: 6.25rem;
		list-style: none;

		&:not(:last-child) {
			margin: 0;
		}
	}

	&__link {
		display: flex;
		padding: 0 0.75rem;

		font-weight: 600;
		font-size: 1.25rem;
		line-height: 6.25rem;

		&:link,
		&:visited {
			color: $color-primary-light;
			display: inline-block;
			text-decoration: none;
		}

		&:hover{
			color: $color-primary-dark;
			transition: $ease-in-out;
		}
	}

	&__pop-up {
		width: 100%;
		background-color: $color-grey-dark;
	}

	&__log-in {
		cursor: pointer;
		color: $color-primary-light;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 6.25rem;
		transition: all .1s;

		&:hover {
			color: $color-primary-dark;
		}
	}

	&__profile-picture{
		position: relative;
		top: 1rem;
		height: 3.5rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
}