$color-primary: #79288d;
$color-primary-light: #754996;
$color-primary-dark: #320d59;

$color-grey-dark: #777;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;


//********* Font sizes

$default-font: 1.8rem;

//********* Input styles

$input-bradius: .5rem;

//********* Grid Variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;