.footer-background {
    background: linear-gradient(to top right, #531f61, #762989);
    padding-top: 2em;
}

.footer-background * {
    color: white;
}

.company-brand{
    margin: 1em 0em 1em 3em;
}

.footer-options ul{
    display: inline-block;
    margin-right: 8%;
    list-style-type: none;
    vertical-align: top;;
}

.footer-options ul li{
    margin-bottom: 3px;
}