.brand {
    margin: 0 auto;
    padding: 8rem;
    width: 50%;
    text-align: center;
    @include respond(tab-port) {
        padding-top: 12rem;
    }

    &__link {
        display: block;
    }

    &__logo {
        height: 18rem;
        width: auto;
    }

    &__header {
        font-weight: 500;
        font-size: 7.4rem;
        color: $color-primary-light;

        &--strong {
            font-weight: 700;
            color: $color-primary-dark;
        }

    }


}