.btn {

	&,
	&:link,
	&:visited {
		display: inline-block;
		padding: 1.5rem 3rem;
		font-size: 1.25rem;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: .5rem;
		border: 0;
		cursor: pointer;
		transition: $ease-in-out;
		box-shadow: 0 1rem 1.5rem rgba($color-black, 0.15);
	}

	&:hover,
	&:focus,
	&:active {
		transition: $ease-in-out;
		box-shadow: 0 1rem 1.5rem rgba($color-black, 0.35);
	}

	&--purple {

		&,
		&:link,
		&:visited {
			background-color: $color-primary-light;
			color: $color-white;
		}

		&:hover,
		&:active {
			background-color: $color-primary;
		}
	}

	&--transparent {

		&:link,
		&:visited {
			border: solid 1px $color-white;
			color: $color-white;
		}
			
		&:hover,
		&:active {
			
		}
	}
		

	&--transparent-purple {

		&:link,
		&:visited {
			background-color: transparent;
			border: solid 1px $color-primary;
			color: $color-primary;
		}
			
		&:hover,
		&:active {
			
		}
	}

	&--green {

		&,
		&:link,
		&:visited {
			background-color: green;
			color: $color-white;
		}

		&:hover,
		&:active {
			
		}
	}

	&--grey {

		&,
		&:link,
		&:visited {
			background-color: $color-grey-dark;
			color: $color-white;
		}

		&:hover,
		&:active {
			
		}
	}
}