.btn {

	&,
	&:link,
	&:visited {
		display: inline-block;
		padding: 1rem 2rem;
		font-size: 1.25rem;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 0.5rem;
		cursor: pointer;
		transition: $ease-default;
		box-shadow: $shadow-center-light;
	}

	&:hover,
	&:focus,
	&:active {
		transition: $ease-default;
		box-shadow: $shadow-center-dark;
	}

	&--purple {

		&,
		&:link,
		&:visited {
			color: $color-white;
			background-color: $color-secondary;
			border: 2px solid $color-secondary;
		}

		&:hover,
		&:active {
			border: 2px solid $color-secondary-dark;
			background-color: $color-secondary-dark;
		}
	}

	&--transparent {

		&:link,
		&:visited {
			color: $color-white;
			border: 2px solid $color-white;
		}
			
		&:hover,
		&:active {
			color: $color-white-dark;
			border: 2px solid $color-white;
		}
	}
		

	&--transparent-purple {

		&:link,
		&:visited {
			background-color: transparent;
			border: 2px solid $color-primary-light;
			color: $color-primary-light;
		}
			
		&:hover,
		&:active {
			background-color: transparent;
			border: 2px solid $color-primary;
			color: $color-primary;
		}
	}

	&--green {

		&,
		&:link,
		&:visited {
			background-color: $color-green-dark;
			border: 2px solid $color-green-dark;
			color: $color-white;
		}

		&:hover,
		&:active {
			color: $color-white;
			background-color: $color-green;
			border: 2px solid $color-green;
			box-shadow: $shadow-center-dark;
		}
	}

	&--yellow {
		
		&,
		&:link,
		&:visited {
			background-color: $color-orange;
			border: 2px solid $color-black;
			color: $color-primary;
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-color: $color-orange-dark;
			border: 2px solid $color-black;
			box-shadow: $shadow-center-dark;
		}
	}

	&--orange {
		
		&,
		&:link,
		&:visited {
			background-color: $color-orange;
			border: 2px solid $color-black;
			color: $color-primary;
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-color: $color-orange-dark;
			border: 2px solid $color-black;
			box-shadow: $shadow-center-dark;
		}
	}

	&--grey {

		&,
		&:link,
		&:visited {
			background-color: $color-grey-dark;
			border: 2px solid $color-grey-dark;
			color: $color-charcoal-light;
		}

		&:hover,
		&:active {
			background-color: $color-grey;
			border: 2px solid $color-grey;
			color: $color-charcoal-light;
		}
	}
}