.top-features{
	background: linear-gradient(to top, $color-primary-dark, $color-primary-light);
	padding: 1.6rem 2rem;

	&__info{
		padding: 6rem;
		width: 45%;

		@include respond(tab-port){
			display: block;
			margin: auto;
			width: 80%;
			text-align: center;
		}

		p {
			color: $color-white;
			margin: 2rem 0;
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 2rem;
		}
	}

	&__card {
		padding: 4rem 2rem;
		width: 90%;
		cursor: pointer;
		height: auto;
		color: $color-white;
		text-align: center;
		background-color: transparent;
		border-radius: 1rem;
		transition: $ease-default;

		

		p {
			font-size: 1.5rem;
			line-height: 2rem;

			@include respond(tab-port) {
				display: none;
			}
		}

		&:hover .bottom-features__icon {
			-webkit-background-clip: text;
			background-clip: text;
			color: $color-secondary;
		}
	}

	&__icon {
		font-size: 8rem;
		color: $color-white;
		transition: $ease-default;
	}

	&__divider {
		margin-bottom: 4rem;
		background-color: $color-grey;
		height: 4px;
		width: 10rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}

	&__card-text{
		color: $color-white;
	}

	
}

.features {
	color: $color-grey;
	padding: 0 5rem;
	background-color: $color-grey;

	&__image-box {
		max-height: 40rem;
		width: 40%;
		background-color: $color-black;
		margin-top: 6rem;
		display: inline-block;
		@include respond(tab-port){
			display: block;
			margin: auto;
			width: 80%
		}

	}
	
	&__info {
		vertical-align: top;
		display: inline-block;
		padding: 6rem;
		color: $color-black;
		width: 50%;
		@include respond(tab-port){
			display: block;
			margin: auto;
			width: 100%;
			padding: 2rem;
			margin-top: 3rem;
			text-align: center;
		}

		p {
			font-size: $default-font;
		}
	}

	.heading-primary,
	.heading-secondary,
	.heading-tertiary {
		color: $color-charcoal;
	}
}

.bottom-features {
	position: relative;
	padding: 2rem 4rem;
	background-color: $color-grey-light;
	
	&__header {
		color: $color-white;
	}

	&__divider {
		margin-bottom: 4rem;
		background-color: $color-grey;
		height: 4px;
		width: 10rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}


	

	&__card {
		padding: 4rem 2rem;
		width: 90%;
		cursor: pointer;
		height: auto;
		color: $color-white;
		text-align: center;
		background-color: transparent;
		border-radius: 1rem;
		transition: $ease-default;

		

		p {
			font-size: 1.5rem;
			line-height: 2rem;

			@include respond(tab-port) {
				display: none;
			}
		}

		&:hover .bottom-features__icon {
			-webkit-background-clip: text;
			background-clip: text;
			color: $color-secondary;
		}
	}

	&__icon {
		font-size: 8rem;
		color: $color-grey-dark;
		transition: $ease-default;
	}

	.heading-primary {
		margin-bottom: 3rem;
	}

	.heading-primary,
	.heading-secondary,
	.heading-tertiary {
		color: $color-charcoal;
	}
}