// TOP FEATURES
.top-features {
	background: linear-gradient(to top, $color-primary, $color-secondary);
	padding: 6rem 0;

	h1.heading-primary {
		margin: 0;
		text-transform: uppercase;
	}

	h2.heading-secondary {
		margin-bottom: 4rem;
		font-weight: 400;
		color: $color-white;
		text-transform: uppercase;
	}

	h3.heading-tertiary {
		margin: 2rem 0;
		font-weight: 600;
		text-transform: capitalize;
	}

	ul.top-features__list > li {
		padding-bottom: 1rem;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 2.5rem;
		text-align: left;
	}

	&__info {
		padding: 6rem;
		width: 100%;

		@include respond(tab-port){
			display: block;
			margin: auto;
			width: 80%;
			text-align: center;
		}
	}

	&__card {
		padding: 4rem;
		width: 100%;
		height: auto;
		min-height: 44rem;
		color: $color-charcoal;
		text-align: center;
		background-color: rgba(255,255,255,0.9);
		box-shadow: $shadow-center-light;
		border-radius: 0.5rem;
		transition: $ease-default;
		
		p {
			font-size: 1.5rem;
			line-height: 2rem;

			@include respond(tab-port) {
				display: none;
			}
		}

		&:hover,
		&:focus {
			background-color: $color-white;
			box-shadow: $shadow-center-dark;
		}

		&:hover .top-features__icon,
		&:focus .top-features__icon {
			-webkit-background-clip: text;
			background-clip: text;
			transform: $scale-small;
		}
	}

	&__icon {
		font-size: 6rem;
		color: $color-secondary;
		transition: $ease-default;
	}

	&__divider {
		margin: 3rem 0 4rem 0;
		height: 4px;
		background-color: $color-white;
		width: 4rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
}

// FEATURES
.features {
	margin: 0 auto;
	max-width: 114rem;

	.heading-primary,
	.heading-secondary,
	.heading-tertiary {
		color: $color-charcoal;
	}

	.heading-secondary {
		margin-bottom: 1rem;
	}

	&__image-box {
		display: inline-block;
		width: 50%;
		height: 100%;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
		background-image: url("../img/StudioMaster-front-page.jpeg");

		@include respond(tab-port) {
			display: block;
			margin: auto;
			width: 80%
		}
	}
	
	&__info {
		vertical-align: top;
		display: inline-block;
		padding: 6rem 0 6rem 6rem;
		color: $color-black;
		width: 50%;

		@include respond(tab-port){
			display: block;
			margin: auto;
			width: 100%;
			padding: 2rem;
			margin-top: 3rem;
			text-align: center;
		}
	}

	.btn.btn--purple {
		margin-right: 4rem;
	}
}

// BOTTOM FEATURES
.bottom-features {
	position: relative;
	padding: 2rem 4rem;
	background-color: $color-grey-light;
	
	&__header {
		color: $color-white;
	}

	&__divider {
		margin-bottom: 4rem;
		background-color: $color-grey;
		height: 4px;
		width: 10rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
	
	&__card {
		padding: 4rem 2rem;
		width: 90%;
		cursor: pointer;
		height: auto;
		color: $color-white;
		text-align: center;
		background-color: transparent;
		border-radius: 1rem;
		transition: $ease-default;

		p {
			font-size: 1.5rem;
			line-height: 2rem;

			@include respond(tab-port) {
				display: none;
			}
		}

		&:hover .bottom-features__icon {
			-webkit-background-clip: text;
			background-clip: text;
			color: $color-secondary;
		}
	}

	&__icon {
		font-size: 8rem;
		color: $color-grey-dark;
		transition: $ease-default;
	}
}