.top-features{
	background: linear-gradient(to top, $color-primary-dark, $color-primary-light);

	&__info{
		padding: 6rem;
		width: 35%;

		p {
			color: $color-white;
			margin: 2rem 0;
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 2rem;
		}
	}
}

.features {
	color: $color-grey;
	padding: 10rem 5rem;
	background-color: $color-grey;

	&__image-box {
		height: 50rem;
		width: 50%;
		background-color: $color-black;
		display: inline-block;
	}
	
	&__info {
		vertical-align: top;
		display: inline-block;
		padding: 6rem;
		color: $color-black;
		width: 45%;

		p {
			font-size: $default-font;
		}
	}

	.heading-primary,
	.heading-secondary,
	.heading-tertiary {
		color: $color-charcoal;
	}
}

.bottom-features {
	position: relative;
	padding: 5rem;
	background-color: $color-grey-light;
	
	&__header {
		color: $color-primary;
	}

	&__divider {
		margin-bottom: 4rem;
		background-color: $color-primary;
		height: 4px;
		width: 10rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}

	&__card {
		padding: 4rem 2rem;
		width: 90%;
		height: auto;
		color: $color-black;
		text-align: center;
		background-color: $color-white;
		box-shadow: $shadow-center-light;
		border-radius: 1rem;
		transition: $ease-in-out;

		p {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		&:hover {
			box-shadow: $shadow-center-dark;
		}

		&:hover .bottom-features__icon {
			-webkit-background-clip: text;
			background-clip: text;
			color: $color-secondary;
		}
	}

	&__icon {
		font-size: 8rem;
		color: $color-grey-dark;
		transition: all .3s;
	}

	.heading-primary {
		margin-bottom: 3rem;
	}

	.heading-primary,
	.heading-secondary,
	.heading-tertiary {
		color: $color-charcoal;
	}
}