.form {
    text-align: center;
    margin-top: 3rem;
    

    &__login {
        width: 35%;
        display: inline-block;

    }

    &__group {
        position: relative;
        display: block;
        height: 4rem;
        padding: 0 2rem;
        margin-bottom: 3rem;
        border-radius: .6rem;

    }

    
    
    &__control {
        display: inline-block;
        width: 100%;
        background-color: $color-white;
        border: none;
        vertical-align: middle;
        height: 100%;
        border-radius: .5rem;
        padding-left: 2rem;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        

        &:focus,
        &:active,
        &:hover {
            outline: none;
            border: 3px solid $color-primary;
            box-shadow: 0 1rem 3rem rgba($color-black, .15);

        }

        &--warning {
            border: 3px solid red;
        }

        &--success {
            border: 3px solid green;
        }

    }

    &__error {
        display: inline-block;
        font-size: $default-font;
        color: red;
        margin-top: 3px;
    }


    &__validate {
        display: inline-block;
        background-color: $color-white;

    }

    &__icon {
        font-size: 1.8rem;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);

        &--success {
            color: green;
        }

        &--warning {
            color: red;
        }
    }
    
    &__login-submit {
        display: inline-block;
        margin-right: 30rem;
        
    }

}