// styling for invalid user page 

.no-user {
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: $color-grey-dark;
    text-align: center;

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__link {
        display: inline-block;
        margin-top: 3rem;
        
    }
}

// Profile Banner Styling

.banner {
    margin-top: 10rem;
    width: 100%;
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    padding: 2rem 4rem;
    position: relative;

    @include respond(tab-port) {
        margin-top: 12rem;
    }

    &__img {
        display: inline-block;
        margin-right: 3rem;
        height: 12rem;
        color: $color-white;
        vertical-align: top;
    }
    
    &__info {
        display: inline-block;
        vertical-align: top;
        padding-top: 2rem; 
    }

    &__text {
        color: $color-grey;
        margin: .6rem 0;

        &--header {
            color: $color-white;
        }
    }
    
    &__actions {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        top: 2%;
        right: 5%;
        vertical-align: center;
        padding: 2rem 0;
    }

    &__actions > * {
        display: block;
        width: 18rem;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

}

// Personal Profile Action buttons

.profile-actions {
    background-color: $color-white;
    padding: 2rem 5rem;

    &__button {
        padding: .2rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__button:hover &__icon-container {
        background-color: $color-primary-light;
    }  

    &__icon-container {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        background-color: $color-primary;
        text-align: center;
        height: 5rem;
        width: 5rem;
        transition: all .1s;
    }

    &__icon-container * {
        position: absolute;
        font-size: 2rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
    }

    &__text {
        display: inline-block;
        vertical-align: top;
        font-size: $default-font;
        font-weight: 700;
        margin: 1.4rem 1rem;
    }
}

//Profile Info boxes

.profile-info {

    background-color: $color-grey;
    padding: 2rem;

    &__about {
        display: inline-block;
        width: 55%;
        padding: 1rem;
        background-color: $color-grey-dark;
        margin-right: 1rem;
    }

    &__description-container {
        height: 15rem;
        padding: .5rem 1rem;
    }

    &__snapshot {
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

    &__stats-container {
        background-color: $color-grey-dark;
        text-align: center;
        padding: 1rem;
    }

    &__list-container {
        display: inline-block;
        width: 45%;
        margin-top: 1rem;
        vertical-align: top;
        padding-bottom: 2rem;
    }

    &__list {
        margin-left: 2.5rem;
    }

    &__item {
        font-size: $default-font;
    }

    &__header {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: $default-font;
    }

    &__stats {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__ad-container {
        background-color: $color-black;
        text-align: center;
        margin-top: 1rem;
        height: 10rem;
        
    }
}

//Tracks on PROFILE PAGE ONLY

.profile-tracks {
    background-color: $color-grey-dark;
    padding: 2rem;

    &__link-container {
        text-align: right;
        padding: 0 2rem;
        margin-bottom: 2rem;
    }

    &__link {
        font-weight: 800;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__track-container {
        padding: 2rem 8rem;
    }
}