.track {
    width: 30%;
    display: inline-block;
    margin-right: 3rem;
    margin-bottom: 2rem;
    background-color: darken($color-grey-dark, 10%);

    @include respond(tab-land){
        width: 45%;

        &:last-child{
            display: none;
        }
    }

    &:hover{
        background-color: darken($color-grey-dark, 15%);
        cursor: pointer;
    }

    &__image-container {
        display: inline-block;
    }

    &__image {
        width: 12rem;
    }

    &__info {
        display: inline-block;
        vertical-align: top;
        padding: 1rem;
    }
}