.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-family: 'Montserrat';
	font-weight: 700;
	color: $color-charcoal;
}

.heading-primary {
	margin: 1rem;
	color: $color-white;
}

.heading-secondary {
	font-size: 3rem;
	line-height: 3.5rem;
	color: inherit;
}

.heading-tertiary {
	margin: 2rem;
	font-size: 2.5rem;
	line-height: 3rem;
	color: inherit;
}

.link {
	font-family: 'Open Sans', sans-serif;
	transition: $ease-default;

	&:link,
	&:visited {
		color: $color-primary;
		font-size: $default-font;
	}

	&:hover,
	&:active {
		color: $color-primary-light;
		font-weight: 400;
	}
}