.section-hero {
    height: 50vh;
    background-image:   linear-gradient(to right, rgba($color-black, .2), rgba($color-black, .55)),
                        url("../img/StudioMaster-front-page-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 5;

    .hero {
        width: calc(100% - 8rem);
    }
}

.section-features {
    background-color: $color-white;
    color: $color-white;
}