.section-hero {
    height: 64rem;
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.5)), url("../img/Home-Hero-Image-Edited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 5;

    .hero {
        width: calc(100% - 8rem);
    }
}

.section-features {
    background-color: $color-white;
    color: $color-white;
}