.page-registration {
    background-color: $color-grey-light;
}

.section-brand {
    background: linear-gradient(to bottom, rgba($color-black, .3), transparent)
}

.section-login {
    padding: 5rem;
    text-align: center;
}