/*

0-600px: phone
600-900px: tablet portrait
900-1200: tablet landscape
1200-1800: desktop | our normal styles apply here
1800 + : big desktop

Breakpoint choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 1rem; }
  @media (max-width: 75em) {
    html {
      font-size: 75%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 75%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  body p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #333; }

h1,
h1.heading-primary {
  font-size: 3rem;
  line-height: 3.5rem; }

h2,
h2.heading-secondary {
  font-size: 2.5rem;
  line-height: 3rem; }

h3,
h3.heading-tertiary {
  font-size: 2rem;
  line-height: 2.5rem; }

h4 {
  font-size: 1.75rem;
  line-height: 2.25rem; }

h5 {
  font-size: 1.5rem;
  line-height: 2rem; }

h6 {
  font-size: 1.25rem;
  line-height: 1.75rem; }

a {
  color: #4b1486;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 1.25rem;
  cursor: pointer; }
  a:hover {
    color: #19072d;
    text-decoration: none; }

ul, li {
  font-family: 'Montserrat'; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.4rem; }

.u-margin-bottom-xs {
  margin-bottom: .6rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 1.4rem; }

.u-margin-left-big {
  margin-left: 8rem; }

.u-margin-left-small {
  margin-left: 1.4rem; }

.u-margin-right-big {
  margin-right: 8rem; }

.u-margin-right-small {
  margin-right: 1.4rem; }

.u-display-block {
  display: block; }

.u-pos-relative {
  position: relative; }

.addTrack {
  background-color: #cccccc;
  padding: 2rem;
  text-align: center; }
  .addTrack__form {
    width: 60%;
    margin-top: 2rem;
    display: block;
    margin: auto; }
  .addTrack__form > * {
    margin-bottom: 2rem; }

.album {
  position: relative;
  width: 15%;
  height: 25rem;
  display: inline-block;
  background-image: url("../../src/img/placeholders/vinyl.jpeg");
  background-size: cover;
  margin-right: 3rem;
  cursor: pointer; }
  .album__play {
    color: #e5e5e5;
    position: absolute;
    font-size: 4rem;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%); }
  .album__text-container {
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6.5rem;
    background-color: #333;
    width: 100%;
    opacity: .9;
    text-align: center; }
  .album__text {
    color: #fff; }

.billboard {
  width: 100%;
  height: 30rem;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/billboard.jpg");
  background-size: cover;
  background-position: 50% 80%;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  position: relative; }
  .billboard__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .billboard__link {
    transition: all .2s .1s; }
    .billboard__link:link, .billboard__link:visited {
      color: #fff;
      font-size: 3.5rem;
      font-weight: 700; }
    .billboard__link:hover, .billboard__link:active {
      color: #cccccc;
      transform: scale(1.1);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      border-radius: 4px; }

.brand {
  margin: 0 auto;
  padding: 8rem;
  width: 50%;
  text-align: center; }
  @media (max-width: 56.25em) {
    .brand {
      padding-top: 12rem; } }
  .brand__link {
    display: block; }
  .brand__logo {
    height: 18rem;
    width: auto; }
  .brand__header {
    font-weight: 500;
    font-size: 7.4rem;
    color: #4b1486; }
    .brand__header--strong {
      font-weight: 700;
      color: #19072d; }

.blade {
  overflow: hidden;
  background-color: #cccccc;
  padding: .5rem;
  border-bottom: 1px solid black; }
  .blade__icon {
    background-color: #e5e5e5;
    color: #cccccc;
    font-size: 4rem;
    display: inline-block; }
  .blade__title {
    display: inline-block;
    vertical-align: top;
    padding: 1rem; }
  .blade:hover {
    background-color: #bfbfbf;
    cursor: pointer; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out all 0.125s;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15); }

.btn:hover, .btn:focus, .btn:active {
  transition: ease-in-out all 0.125s;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35); }

.btn--purple, .btn--purple:link, .btn--purple:visited {
  color: #fff;
  background-color: #754996;
  border: 2px solid #754996; }

.btn--purple:hover, .btn--purple:active {
  border: 2px solid #5a3874;
  background-color: #5a3874; }

.btn--transparent:link, .btn--transparent:visited {
  color: #fff;
  border: 2px solid #fff; }

.btn--transparent:hover, .btn--transparent:active {
  color: #d9d9d9;
  border: 2px solid #fff; }

.btn--transparent-purple:link, .btn--transparent-purple:visited {
  background-color: transparent;
  border: 2px solid #4b1486;
  color: #4b1486; }

.btn--transparent-purple:hover, .btn--transparent-purple:active {
  background-color: transparent;
  border: 2px solid #320d59;
  color: #320d59; }

.btn--green, .btn--green:link, .btn--green:visited {
  background-color: #25a233;
  border: 2px solid #25a233;
  color: #fff; }

.btn--green:hover, .btn--green:active {
  color: #fff;
  background-color: #2ecc40;
  border: 2px solid #2ecc40;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35); }

.btn--yellow, .btn--yellow:link, .btn--yellow:visited {
  background-color: #ffca21;
  border: 2px solid #000;
  color: #320d59; }

.btn--yellow:hover, .btn--yellow:active {
  color: #320d59;
  background-color: #edb400;
  border: 2px solid #000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35); }

.btn--orange, .btn--orange:link, .btn--orange:visited {
  background-color: #ffca21;
  border: 2px solid #000;
  color: #320d59; }

.btn--orange:hover, .btn--orange:active {
  color: #320d59;
  background-color: #edb400;
  border: 2px solid #000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35); }

.btn--grey, .btn--grey:link, .btn--grey:visited {
  background-color: #cccccc;
  border: 2px solid #cccccc;
  color: #4d4d4d; }

.btn--grey:hover, .btn--grey:active {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  color: #4d4d4d; }

.edit-profile__header {
  margin-bottom: 1rem; }
  .edit-profile__header--center {
    text-align: center; }

.edit-profile__search-container {
  margin-right: 4rem; }

.edit-profile__search {
  display: block;
  margin: 0 auto; }
  .edit-profile__search:first-child {
    margin-bottom: 1rem; }

.edit-profile__results-container {
  vertical-align: top;
  width: 80%;
  margin: 1rem auto;
  height: 15rem;
  max-height: 15rem;
  overflow: auto; }

.edit-profile__results-item {
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #cccccc;
  cursor: pointer; }
  .edit-profile__results-item:not(:last-child) {
    margin-bottom: 3px; }

.edit-profile__results-item:nth-child(even) {
  background-color: #e5e5e5; }

.edit-profile__results-item:hover {
  background-color: #320d59;
  color: #fff; }

.edit-profile__instrument-results {
  display: inline-block;
  vertical-align: top;
  margin-right: 5rem; }

.edit-profile__genre-results {
  display: inline-block;
  vertical-align: top; }

.edit-profile__selection-container {
  padding: 2rem;
  margin-top: 4rem;
  border-top: 1px solid #000; }

.edit-profile__submit {
  position: absolute;
  right: 5%;
  bottom: 5%; }

.top-features {
  background: linear-gradient(to top, #320d59, #754996);
  padding: 6rem 0 8rem 0; }
  .top-features ul.top-features__list > li {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: left; }
  .top-features__info {
    padding: 6rem;
    width: 100%; }
    @media (max-width: 56.25em) {
      .top-features__info {
        display: block;
        margin: auto;
        width: 80%;
        text-align: center; } }
  .top-features__card {
    padding: 4rem;
    width: 100%;
    height: auto;
    min-height: 44rem;
    color: #333;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    transition: ease-in-out all 0.125s; }
    .top-features__card p {
      font-size: 1.5rem;
      line-height: 2rem; }
      @media (max-width: 56.25em) {
        .top-features__card p {
          display: none; } }
    .top-features__card:hover, .top-features__card:focus {
      background-color: #fff;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35); }
    .top-features__card:hover .top-features__icon,
    .top-features__card:focus .top-features__icon {
      -webkit-background-clip: text;
      background-clip: text;
      transform: scale(1.1); }
  .top-features__icon {
    font-size: 6rem;
    color: #754996;
    transition: ease-in-out all 0.125s; }
  .top-features__divider {
    margin: 4rem 0;
    height: 4px;
    background-color: #fff;
    width: 4rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0; }
  .top-features h1.heading-primary {
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .top-features h2.heading-secondary {
    margin-bottom: 4rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase; }
  .top-features h3.heading-tertiary {
    margin: 2rem 0;
    font-weight: 600;
    text-transform: capitalize; }

.features {
  color: #e5e5e5;
  padding: 0 5rem;
  background-color: #e5e5e5; }
  .features__image-box {
    max-height: 40rem;
    width: 40%;
    background-color: #000;
    margin-top: 6rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .features__image-box {
        display: block;
        margin: auto;
        width: 80%; } }
  .features__info {
    vertical-align: top;
    display: inline-block;
    padding: 6rem;
    color: #000;
    width: 50%; }
    @media (max-width: 56.25em) {
      .features__info {
        display: block;
        margin: auto;
        width: 100%;
        padding: 2rem;
        margin-top: 3rem;
        text-align: center; } }
    .features__info p {
      font-size: 1.25rem; }
  .features .heading-primary,
  .features .heading-secondary,
  .features .heading-tertiary {
    color: #333; }

.bottom-features {
  position: relative;
  padding: 2rem 4rem;
  background-color: white; }
  .bottom-features__header {
    color: #fff; }
  .bottom-features__divider {
    margin-bottom: 4rem;
    background-color: #e5e5e5;
    height: 4px;
    width: 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0; }
  .bottom-features__card {
    padding: 4rem 2rem;
    width: 90%;
    cursor: pointer;
    height: auto;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border-radius: 1rem;
    transition: ease-in-out all 0.125s; }
    .bottom-features__card p {
      font-size: 1.5rem;
      line-height: 2rem; }
      @media (max-width: 56.25em) {
        .bottom-features__card p {
          display: none; } }
    .bottom-features__card:hover .bottom-features__icon {
      -webkit-background-clip: text;
      background-clip: text;
      color: #754996; }
  .bottom-features__icon {
    font-size: 8rem;
    color: #cccccc;
    transition: ease-in-out all 0.125s; }
  .bottom-features .heading-primary,
  .bottom-features .heading-secondary,
  .bottom-features .heading-tertiary {
    color: #333; }
  .bottom-features .heading-primary {
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .bottom-features .heading-secondary {
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 500; }
  .bottom-features .heading-tertiary {
    margin: 2rem;
    font-size: 2.5rem;
    line-height: 3rem;
    color: inherit; }

.form {
  text-align: center;
  margin-top: 3rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1rem; }
  .form input {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 2px solid #e5e5e5; }
  .form__login {
    width: 100%;
    display: inline-block; }
  .form__group {
    position: relative;
    display: block;
    margin-bottom: 2rem; }
  .form__control {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding-left: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
    transition: ease-in-out all 0.125s; }
    .form__control:focus, .form__control:active, .form__control:hover {
      outline: none;
      border: 2px solid #754996;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35); }
    .form__control--warning {
      border: 2px solid #ff4136; }
    .form__control--success {
      border: 2px solid #2ecc40; }
  .form__error {
    display: inline-block;
    margin-top: 0.25rem;
    font-size: 1.25rem;
    color: #ff4136; }
  .form__validate {
    display: inline-block;
    background-color: #fff; }
  .form__icon {
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transform: translateY(-1rem); }
    .form__icon--success {
      color: #2ecc40; }
    .form__icon--warning {
      color: #ff4136; }
  .form__login-submit {
    display: block;
    margin: 1rem auto;
    margin-bottom: 1rem; }
  .form__register {
    text-align: left;
    width: 50%;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .form__register {
        width: 80%; } }
    .form__register .heading-tertiary {
      color: #333;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      text-transform: capitalize; }
    .form__register input[type="date"]::-webkit-calendar-picker-indicator {
      display: none; }
    .form__register input[type="date"]::-webkit-calendar-spin-button {
      display: none; }
  .form__radio-group {
    display: inline-block;
    padding: 0 2rem; }
    .form__radio-group:not(:last-child) {
      margin-right: .5rem; }
  .form__radio-input {
    display: none; }
  .form__label-radio {
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    padding-left: 2.5rem; }
  .form__radio-button {
    height: 2rem;
    width: 2rem;
    border: 1px solid #333;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0rem;
    left: 0; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #320d59;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .1s;
      opacity: 0; }
  .form__radio-input:checked + .form__label-radio .form__radio-button::after {
    opacity: 1; }
  .form__disclaimer {
    padding-left: 2.25rem;
    margin: 1rem 0;
    font-size: 1.125rem;
    color: #cccccc; }
  .form__select-group {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
    width: 100%; }
  .form__select {
    display: inline-block;
    padding: 1rem 1.25rem;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
    background: #fff;
    color: #4d4d4d;
    outline: 0;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .form__select::-ms-expand {
      display: none; }
    .form__select:hover, .form__select:focus {
      border: 2px solid #320d59;
      color: #333;
      background: #ffffff;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35); }
    .form__select:disabled {
      opacity: 0.5;
      pointer-events: none; }
  .form__select-arrow {
    position: absolute;
    top: 1.25rem;
    right: 5rem;
    width: 1rem;
    height: 1rem;
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .form__select ~ .form__select-arrow,
  .form__select:focus ~ .form__select-arrow {
    border-color: #cccccc; }
  .form__select:disabled ~ .form__select-arrow {
    border-top-color: #e5e5e5; }
  .form__submit-group {
    padding: 2rem;
    text-align: right; }
    .form__submit-group button {
      margin-bottom: 2rem;
      display: inline-block; }

.security-heading {
  padding-left: 4rem;
  margin-bottom: 1rem; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; }
  .hero .btn {
    margin: 4rem; }
  .hero .heading-primary {
    margin-bottom: 2rem;
    color: #fff;
    text-transform: uppercase; }
  .hero .heading-secondary {
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 500;
    color: #fff; }
  .hero .heading-tertiary {
    margin: 2rem;
    font-size: 2.5rem;
    line-height: 3rem;
    color: inherit; }

.link {
  font-family: 'Open Sans', sans-serif;
  transition: ease-in-out all 0.125s; }
  .link:link, .link:visited {
    color: #320d59;
    font-size: 1.25rem; }
  .link:hover, .link:active {
    color: #4b1486;
    font-weight: 400; }

.toggle {
  position: relative;
  background-color: #cccccc;
  padding: 2rem; }
  .toggle__container {
    margin: auto;
    text-align: center; }
  .toggle__item {
    display: inline-block;
    list-style: none;
    margin-right: 10rem;
    border-bottom: 2px solid #320d59;
    padding-bottom: .5rem;
    cursor: pointer; }

.track-manager {
  padding: 2rem;
  margin-top: 5rem; }
  .track-manager__item {
    list-style: none;
    position: relative;
    padding: 1rem 0 1rem 1rem; }
    .track-manager__item:hover {
      cursor: pointer; }
  .track-manager__item:nth-child(odd) {
    background-color: #e5e5e5; }
  .track-manager__item-text {
    font-size: 1.25rem;
    font-weight: bold; }
    .track-manager__item-text:hover {
      color: #320d59; }
  .track-manager__edit-icon {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    right: 5%;
    transform: translateY(-50%); }
    .track-manager__edit-icon:hover {
      cursor: pointer;
      color: #320d59; }
  .track-manager__trash-icon {
    position: absolute;
    left: 5%;
    bottom: 84%;
    font-size: 2.5rem; }
    .track-manager__trash-icon:hover {
      color: #320d59;
      cursor: pointer; }
  .track-manager__confirm-window {
    background-color: #cccccc;
    height: 50%;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .track-manager__input {
    display: block; }

.player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 3rem;
  background-color: #1a1a1a; }
  .player__controls {
    display: inline-block;
    padding: 0 3rem;
    vertical-align: center;
    width: 85%; }
    @media (max-width: 37.5em) {
      .player__controls {
        margin-top: 1rem; } }
  .player__play-icon {
    font-size: 2rem;
    color: #e5e5e5;
    padding: 1rem;
    text-align: center;
    cursor: pointer; }
  .player__track-name {
    font-size: 1.8rem;
    color: #e5e5e5;
    display: inline-block; }
  .player__seek-bar {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 1rem;
    background-color: #4d4d4d;
    margin-left: 4rem;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .player__seek-bar {
        width: 25%; } }
  .player__seek-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #320d59;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transition: all .1s; }
    .player__seek-button:hover {
      transform: translate(-50%, -50%) scale(1.08); }
  .player__duration-remaining {
    display: inline-block;
    color: #fff;
    font-size: 1.25rem;
    margin-left: 2rem; }
  .player__volume {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    font-size: 1.9rem; }
  .player__close {
    font-size: 2rem;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e5e5e5; }

.no-user {
  height: 80vh;
  width: 100%;
  position: relative;
  background-color: #cccccc;
  text-align: center; }
  .no-user__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .no-user__link {
    display: inline-block;
    margin-top: 3rem; }

.banner {
  margin-top: 10rem;
  width: 100%;
  background: linear-gradient(to right, #4b1486, #19072d);
  padding: 2rem 4rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .banner {
      margin-top: 12rem; } }
  .banner__img {
    border-radius: 50%;
    border: 5px solid #000;
    display: inline-block;
    margin-right: 3rem;
    height: 14rem;
    color: #fff;
    vertical-align: top; }
  .banner__info {
    display: inline-block;
    vertical-align: top;
    padding-top: 2rem; }
  .banner__text {
    color: #e5e5e5;
    margin: .6rem 0; }
    .banner__text--header {
      color: #fff; }
  .banner__actions {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 2%;
    right: 5%;
    vertical-align: center;
    padding: 2rem 0; }
  .banner__actions div > * {
    display: block;
    width: 18rem;
    text-align: center; }
    .banner__actions div > *:not(:last-child) {
      margin-bottom: 3rem; }
  .banner__edit-icon {
    color: #cccccc;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: all .1s; }
    .banner__edit-icon:hover {
      color: #4d4d4d; }
  .banner__edit-profile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e5e5e5;
    padding: 5rem;
    width: 50%;
    z-index: 1000;
    border: 1px solid black; }
  .banner__edit-profile-hidden {
    display: none; }
  .banner__edit-close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2.3rem;
    cursor: pointer;
    color: #320d59; }

.profile-actions {
  background-color: #fff;
  padding: 2rem 5rem; }
  .profile-actions__button {
    padding: .2rem;
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .profile-actions__button:not(:last-child) {
      margin-right: 2rem; }
  .profile-actions__icon-container {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    height: 5rem;
    width: 5rem;
    transition: all .1s; }
    .profile-actions__icon-container--purple {
      background-color: #320d59; }
      .profile-actions__icon-container--purple:hover {
        background-color: #4b1486; }
    .profile-actions__icon-container--orange {
      background-color: #ffca21; }
      .profile-actions__icon-container--orange:hover {
        background-color: #edb400; }
  .profile-actions__icon {
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .profile-actions__icon--purple {
      color: #320d59; }
    .profile-actions__icon--white {
      color: #fff; }
  .profile-actions__text {
    display: inline-block;
    vertical-align: top;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1.4rem 1rem; }
  .profile-actions__add-track {
    background-color: #cccccc; }

.profile-info {
  background-color: #e5e5e5;
  padding: 2rem; }
  .profile-info__about {
    display: inline-block;
    width: 55%;
    padding: 1rem;
    background-color: #cccccc;
    margin-right: 1rem;
    position: relative; }
  .profile-info__description-container {
    height: 15rem;
    padding: .5rem 1rem; }
  .profile-info__snapshot {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
  .profile-info__stats-container {
    background-color: #cccccc;
    text-align: center;
    padding: 1rem; }
  .profile-info__list-container {
    display: inline-block;
    width: 45%;
    margin-top: 1rem;
    vertical-align: top;
    padding-bottom: 2rem; }
  .profile-info__list {
    margin-left: 2.5rem; }
  .profile-info__item {
    font-size: 1.25rem; }
  .profile-info__header {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .profile-info__text {
    font-size: 1.25rem; }
  .profile-info__stats {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .profile-info__ad-container {
    background-color: #000;
    text-align: center;
    margin-top: 1rem;
    height: 10rem; }
  .profile-info__edit-icon {
    position: absolute;
    top: 5%;
    right: 3%;
    color: #000;
    font-size: 2rem; }
    .profile-info__edit-icon:hover {
      cursor: pointer; }

.profile-tracks {
  background-color: #cccccc;
  padding: 2rem; }
  .profile-tracks--albums {
    background-color: #fff; }
  .profile-tracks__link-container {
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 2rem; }
  .profile-tracks__link {
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase; }
  .profile-tracks__track-container {
    padding: 2rem 0;
    padding-left: 4rem; }
  .profile-tracks__edit-link {
    font-size: 2rem; }

.all-tracks__container {
  width: 85%;
  display: block;
  margin: 0 auto;
  padding: 0 1rem; }

.slide-list {
  padding: 0 13rem;
  color: #fff;
  margin-bottom: 25rem; }
  .slide-list__item {
    list-style: none;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: .4rem;
    background-color: #4d4d4d;
    padding: 1rem;
    transition: all .2s; }
    .slide-list__item:not(:last-child) {
      margin-bottom: 3rem; }
  .slide-list__toggle {
    display: none; }
  .slide-list__toggle:checked ~ .slide-list__text {
    display: block; }
  .slide-list__toggle:checked + .slide-list__button {
    background-color: #404040; }
  .slide-list__toggle:checked + .slide-list__button .slide-list__icon--down {
    display: none; }
  .slide-list__toggle:checked + .slide-list__button .slide-list__icon--up {
    display: block; }
  .slide-list__button {
    display: block;
    position: relative;
    padding: .5rem;
    cursor: pointer;
    transition: all .1s; }
    .slide-list__button:hover {
      background-color: #404040;
      border-radius: .5rem; }
  .slide-list__text {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 8rem 1rem 2rem;
    display: none; }
  .slide-list__icon {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%); }
    .slide-list__icon--up {
      display: none; }

.track {
  width: 30%;
  display: inline-block;
  margin-right: 3rem;
  margin-bottom: 2rem;
  background-color: #b2b2b2;
  height: 12rem; }
  @media (max-width: 75em) {
    .track {
      width: 43%; }
      .track:last-child {
        display: none; } }
  .track:hover {
    background-color: #a5a5a5;
    cursor: pointer; }
  .track__image-container {
    display: inline-block; }
  .track__image {
    width: 12rem; }
  .track__info {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    width: 60%; }
    @media (max-width: 75em) {
      .track__info {
        width: 70%; } }
    @media (max-width: 37.5em) {
      .track__info {
        width: 50%; } }
  .track__title-container {
    height: 4rem;
    overflow: hidden; }
  .track__active {
    width: 30%;
    display: inline-block;
    margin-right: 3rem;
    margin-bottom: 2rem;
    background: linear-gradient(to bottom, #4b1486, #19072d);
    padding: 1rem;
    position: relative;
    vertical-align: top;
    height: 12rem; }
    @media (max-width: 75em) {
      .track__active {
        width: 43%; }
        .track__active:last-child {
          display: none; } }
    .track__active:hover {
      background: linear-gradient(to bottom, #3f106f, #0d0316); }
    .track__active-title-container {
      max-height: 4rem;
      overflow: hidden; }
    .track__active-title {
      color: #fff; }
    .track__active-billboard {
      color: #fff; }
    .track__active-metrics {
      position: absolute;
      bottom: 3%;
      left: 2%; }
    .track__active-info {
      color: #fff; }
    .track__active-actions {
      position: absolute;
      bottom: 5%;
      right: 5%;
      color: #fff; }
    .track__active-icons {
      color: #fff;
      font-size: 2.2rem; }
      .track__active-icons:not(:last-child) {
        margin-right: 2rem; }
      .track__active-icons:hover {
        color: #cccccc;
        cursor: pointer; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1 {
    width: 100%; }
  .row .col-1-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-4 {
    width: calc((2 * (100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-4 {
    width: calc((3 * (100% - 3 * 2rem) / 4) + (2 * 2rem)); }

.footer {
  width: 100%;
  height: auto;
  background: #19072d;
  color: #8f60b2; }
  .footer__logo-box {
    display: inline-block;
    padding: 6rem;
    width: 33%; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        display: block;
        width: 100%;
        text-align: center;
        padding: 4rem; } }
  .footer__logo {
    margin-top: -2.5rem;
    height: 4rem;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo {
        margin-bottom: 2rem; } }
  .footer__brand {
    font-size: 1.5rem;
    font-weight: 300;
    color: inherit;
    margin-left: 1rem; }
  .footer__nav {
    width: 67%;
    padding: 5rem 1rem 1rem 1rem;
    display: inline-block;
    color: #754996;
    vertical-align: top; }
    @media (max-width: 56.25em) {
      .footer__nav {
        width: 90%;
        padding: 1rem 1rem 2rem 6rem;
        display: block;
        vertical-align: center;
        margin: 0 auto; } }
    @media (max-width: 37.5em) {
      .footer__nav {
        width: 100%;
        padding: 1rem 1rem 2rem 3rem;
        display: inline-block;
        vertical-align: center; } }
    .footer__nav-list {
      display: inline-block;
      vertical-align: top;
      transition: ease-in-out all 0.125s; }
      .footer__nav-list:not(:last-child) {
        margin-right: 9rem; }
      @media (max-width: 56.25em) {
        .footer__nav-list:not(:last-child) {
          margin-right: 7rem; } }
      @media (max-width: 37.5em) {
        .footer__nav-list:not(:last-child) {
          margin-right: 5rem; } }
    .footer__nav-title {
      margin-bottom: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: inherit; }
    .footer__nav-item {
      list-style: none; }
      .footer__nav-item:not(:last-child) {
        margin: 0; }
    .footer__nav-link {
      display: block;
      font-family: sans-serif; }
      .footer__nav-link:link, .footer__nav-link:visited {
        color: #754996;
        font-size: 1.5rem;
        line-height: 2.25rem; }
      .footer__nav-link:hover, .footer__nav-link:active {
        color: #b394cb;
        transition: ease-in-out all 0.125s; }

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  padding: 3rem 5rem;
  display: none; }
  @media (max-width: 56.25em) {
    .mobile-nav {
      display: block; } }
  .mobile-nav__brand {
    height: 6rem; }
  .mobile-nav__button {
    position: fixed;
    top: 5%;
    right: 5%;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    transform: translateY(-50%);
    cursor: pointer; }
  .mobile-nav__menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: .6rem;
    border-radius: 1rem;
    background-color: #fff; }
    .mobile-nav__menu-icon::before, .mobile-nav__menu-icon::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: .6rem;
      border-radius: 1rem;
      background-color: #fff;
      transition: all .2s; }
    .mobile-nav__menu-icon::before {
      top: -1.1rem; }
      .mobile-nav__menu-icon::before:hover {
        top: -1.2rem; }
    .mobile-nav__menu-icon::after {
      top: 1.2rem; }
      .mobile-nav__menu-icon::after:hover {
        top: 1.3rem; }
  .mobile-nav__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    background-color: #333;
    padding: 3rem 6rem;
    transition: all .4s; }
  .mobile-nav__title {
    color: #fff;
    font-size: 5rem;
    padding: 2rem 0 3rem 0;
    border-bottom: 1px solid #000;
    font-weight: 400; }
    .mobile-nav__title strong {
      font-weight: 700; }
  .mobile-nav__list {
    margin-top: 2rem; }
  .mobile-nav__item {
    list-style: none;
    font-size: 3rem;
    margin: 2rem 0;
    padding: 1rem 0; }
  .mobile-nav__link, .mobile-nav__link:visited {
    color: #fff;
    display: block; }
    .mobile-nav__link:not(:last-child), .mobile-nav__link:visited:not(:last-child) {
      border-bottom: 1px solid #000; }
  .mobile-nav__toggle {
    display: none; }
  .mobile-nav__toggle:checked ~ .mobile-nav__nav {
    left: 0; }

.navigation {
  display: flex;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 8rem;
  background: rgba(255, 255, 255, 0.9);
  z-index: 20; }
  @media (max-width: 56.25em) {
    .navigation {
      display: none; } }
  .navigation__nav-container {
    display: inline-flex; }
  .navigation__nav {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 8rem;
    right: 0;
    margin-right: 4rem; }
  .navigation__logo-box {
    display: inline-block;
    height: 8rem; }
  .navigation__logo {
    margin-top: 1.5rem;
    height: 5rem;
    margin-left: 4rem; }
  .navigation__brand {
    font-size: 3rem; }
  .navigation__divider {
    position: relative;
    display: inline-block;
    top: 2.5rem;
    margin: 0 1rem;
    width: 1px;
    height: 3rem;
    line-height: 8rem;
    background-color: #e5e5e5; }
  .navigation__item {
    display: flex;
    line-height: 8rem;
    list-style: none; }
    .navigation__item:not(:last-child) {
      margin: 0; }
  .navigation__link {
    display: flex;
    padding: 0 0.75rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 8rem;
    text-transform: uppercase; }
    .navigation__link:link, .navigation__link:visited {
      color: #754996;
      display: inline-block;
      text-decoration: none; }
    .navigation__link:hover {
      color: #4b1486;
      transition: ease-in-out all 0.125s; }
  .navigation__pop-up {
    width: 100%;
    background-color: #fff;
    border: 0;
    border-radius: 0.5rem; }
    .navigation__pop-up .section-login .login-header {
      text-transform: capitalize; }
    .navigation__pop-up .section-login .form__group {
      margin: 0 auto 2rem auto;
      width: 65%; }
      .navigation__pop-up .section-login .form__group__login {
        width: 100%; }
      .navigation__pop-up .section-login .form__group__icon {
        margin: 0; }
    .navigation__pop-up .section-login a.link {
      margin: 0 auto;
      padding: 1rem;
      width: auto;
      color: #754996; }
      .navigation__pop-up .section-login a.link:hover {
        color: #8f60b2; }
  .navigation__log-in {
    margin-top: 2rem;
    margin-left: 0.75rem;
    padding: 1rem 1.5rem;
    height: 4rem;
    width: 100%;
    background-color: #754996;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease-in-out all 0.125s; }
    .navigation__log-in:hover {
      color: #fff;
      background-color: #5a3874; }
  .navigation__profile-picture {
    position: relative;
    top: 1rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem; }

.information {
  width: 100%;
  background-color: #1a1a1a; }
  .information__hero {
    padding: 13rem 10rem 8rem 10rem; }
  .information__header {
    color: #fff;
    display: inline-block;
    padding: 2rem 0;
    border-bottom: 1px solid white; }

.section-hero {
  height: 64rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.55)), url("../img/StudioMaster-front-page-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 5; }
  .section-hero .hero {
    width: calc(100% - 8rem); }

.section-features {
  background-color: #fff;
  color: #fff; }

.page-registration {
  background-color: white; }

.section-brand {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent); }

.section-login {
  padding: 5rem;
  text-align: center; }

.section-register {
  margin-top: 5rem;
  text-align: center; }
