/*

0-600px: phone
600-900px: tablet portrait
900-1200: tablet landscape
1200-1800: desktop | our normal styles apply here
1800 + : big desktop

Breakpoint choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  body p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #333; }

h1 {
  font-size: 3rem;
  line-height: 3.5rem; }

h2 {
  font-size: 2.5rem;
  line-height: 3rem; }

h3 {
  font-size: 2rem;
  line-height: 2.5rem; }

h4 {
  font-size: 1.75rem;
  line-height: 2.25rem; }

h5 {
  font-size: 1.5rem;
  line-height: 2rem; }

h6 {
  font-size: 1.25rem;
  line-height: 1.75rem; }

a {
  color: #4b1486;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  cursor: pointer; }
  a:hover {
    color: #19072d;
    text-decoration: none; }

ul, li {
  font-family: 'Montserrat'; }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #333; }

.heading-primary {
  margin: 2rem;
  font-size: 4rem;
  line-height: 4.5rem;
  color: inherit; }

.heading-secondary {
  font-size: 3rem;
  line-height: 3.5rem;
  color: inherit; }

.heading-tertiary {
  margin: 2rem;
  font-size: 2.5rem;
  line-height: 3rem;
  color: inherit; }

.link {
  font-family: 'Open Sans', sans-serif;
  transition: ease-in-out all 0.15s; }
  .link:link, .link:visited {
    color: #320d59;
    font-size: 1.5rem; }
  .link:hover, .link:active {
    color: #4b1486;
    font-weight: 400; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.4rem; }

.u-margin-bottom-xs {
  margin-bottom: .6rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 1.4rem; }

.u-margin-left-big {
  margin-left: 8rem; }

.u-margin-left-small {
  margin-left: 1.4rem; }

.u-margin-right-big {
  margin-right: 8rem; }

.u-margin-right-small {
  margin-right: 1.4rem; }

.u-display-block {
  display: block; }

.addTrack {
  background-color: #cccccc;
  padding: 2rem;
  text-align: center; }
  .addTrack__form {
    width: 60%;
    margin-top: 2rem;
    display: block;
    margin: auto; }
  .addTrack__form > * {
    margin-bottom: 2rem; }

.billboard {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/turntable.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  .billboard__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .billboard__link {
    transition: all .2s .1s; }
    .billboard__link:link, .billboard__link:visited {
      color: #fff;
      font-size: 3.5rem;
      font-weight: 700; }
    .billboard__link:hover, .billboard__link:active {
      color: #cccccc;
      transform: scale(1.1);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      border-radius: 4px; }

.brand {
  text-align: center;
  padding: 10rem 0 5rem 0; }
  @media (max-width: 56.25em) {
    .brand {
      padding-top: 12rem; } }
  .brand__link {
    display: block; }
  .brand__logo {
    height: 18rem;
    width: 18rem; }
  .brand__header {
    font-weight: 500;
    font-size: 7.4rem;
    color: #4b1486; }
    .brand__header--strong {
      font-weight: 700;
      color: #19072d; }

.blade {
  overflow: hidden;
  background-color: #cccccc;
  padding: .5rem;
  border-bottom: 1px solid black; }
  .blade__icon {
    background-color: #e5e5e5;
    color: #cccccc;
    font-size: 4rem;
    display: inline-block; }
  .blade__title {
    display: inline-block;
    vertical-align: top;
    padding: 1rem; }
  .blade:hover {
    background-color: #bfbfbf;
    cursor: pointer; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: .5rem;
  cursor: pointer;
  transition: ease-in-out all 0.15s;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15); }

.btn:hover, .btn:focus, .btn:active {
  transition: ease-in-out all 0.15s;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35); }

.btn--purple, .btn--purple:link, .btn--purple:visited {
  color: #fff;
  background-color: #4b1486;
  border: 2px solid #4b1486; }

.btn--purple:hover, .btn--purple:active {
  border: 2px solid #320d59;
  background-color: #320d59; }

.btn--transparent:link, .btn--transparent:visited {
  color: #fff;
  border: 2px solid #fff; }

.btn--transparent:hover, .btn--transparent:active {
  color: #d9d9d9;
  border: 2px solid #fff; }

.btn--transparent-purple:link, .btn--transparent-purple:visited {
  background-color: transparent;
  border: 2px solid #4b1486;
  color: #4b1486; }

.btn--transparent-purple:hover, .btn--transparent-purple:active {
  background-color: transparent;
  border: 2px solid #320d59;
  color: #320d59; }

.btn--green, .btn--green:link, .btn--green:visited {
  background-color: #25a233;
  border: 2px solid #25a233;
  color: #fff; }

.btn--green:hover, .btn--green:active {
  color: #fff;
  background-color: #2ecc40;
  border: 2px solid #2ecc40;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35); }

.btn--orange, .btn--orange:link, .btn--orange:visited {
  background-color: #ebb916;
  border: 2px solid #000;
  color: #320d59; }

.btn--orange:hover, .btn--orange:active {
  color: #320d59;
  background-color: #d5a712;
  border: 2px solid #000;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35); }

.btn--grey, .btn--grey:link, .btn--grey:visited {
  background-color: #cccccc;
  border: 2px solid #cccccc;
  color: #4d4d4d; }

.btn--grey:hover, .btn--grey:active {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  color: #4d4d4d; }

.top-features {
  background: linear-gradient(to top, #19072d, #4b1486); }
  .top-features__info {
    padding: 6rem;
    width: 45%; }
    @media (max-width: 56.25em) {
      .top-features__info {
        display: block;
        margin: auto;
        width: 80%;
        text-align: center; } }
    .top-features__info p {
      color: #fff;
      margin: 2rem 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem; }

.features {
  color: #e5e5e5;
  padding: 10rem 5rem;
  background-color: #e5e5e5; }
  .features__image-box {
    max-height: 40rem;
    width: 40%;
    background-color: #000;
    margin-top: 6rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .features__image-box {
        display: block;
        margin: auto;
        width: 80%; } }
  .features__info {
    vertical-align: top;
    display: inline-block;
    padding: 6rem;
    color: #000;
    width: 50%; }
    @media (max-width: 56.25em) {
      .features__info {
        display: block;
        margin: auto;
        width: 100%;
        padding: 2rem;
        margin-top: 3rem;
        text-align: center; } }
    .features__info p {
      font-size: 1.5rem; }
  .features .heading-primary,
  .features .heading-secondary,
  .features .heading-tertiary {
    color: #333; }

.bottom-features {
  position: relative;
  padding: 5rem;
  background-color: white; }
  .bottom-features__header {
    color: #320d59; }
  .bottom-features__divider {
    margin-bottom: 4rem;
    background-color: #320d59;
    height: 4px;
    width: 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0; }
  @media (max-width: 37.5em) {
    .bottom-features__three-cards {
      display: none; } }
  .bottom-features__one-card {
    display: none; }
    @media (max-width: 37.5em) {
      .bottom-features__one-card {
        display: block; } }
  .bottom-features__card {
    padding: 4rem 2rem;
    width: 90%;
    height: auto;
    color: #000;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    transition: ease-in-out all 0.15s; }
    .bottom-features__card p {
      font-size: 1.5rem;
      line-height: 2rem; }
      @media (max-width: 56.25em) {
        .bottom-features__card p {
          display: none; } }
    .bottom-features__card:hover {
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35); }
    .bottom-features__card:hover .bottom-features__icon {
      -webkit-background-clip: text;
      background-clip: text;
      color: #754996; }
  .bottom-features__icon {
    font-size: 8rem;
    color: #cccccc;
    transition: all .3s; }
  .bottom-features .heading-primary {
    margin-bottom: 3rem; }
  .bottom-features .heading-primary,
  .bottom-features .heading-secondary,
  .bottom-features .heading-tertiary {
    color: #333; }

.form {
  text-align: center;
  margin-top: 3rem;
  font-family: 'Open Sans', sans-serif; }
  .form__login {
    width: 35%;
    display: inline-block; }
  .form__group {
    position: relative;
    display: block;
    height: 4rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem; }
  .form__control {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding-left: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
    transition: ease-in-out all 0.15s; }
    .form__control:focus, .form__control:active, .form__control:hover {
      outline: none;
      border: 2px solid #320d59;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35); }
    .form__control--warning {
      border: 2px solid #ff4136; }
    .form__control--success {
      border: 2px solid #2ecc40; }
  .form__error {
    display: inline-block;
    margin-top: 0.25rem;
    font-size: 1.5rem;
    color: #ff4136; }
  .form__validate {
    display: inline-block;
    background-color: #fff; }
  .form__icon {
    top: 50%;
    right: 5%;
    position: absolute;
    padding-right: 1rem;
    font-size: 1.5rem;
    transform: translateY(-50%); }
    .form__icon--success {
      color: #2ecc40; }
    .form__icon--warning {
      color: #ff4136; }
  .form__login-submit {
    display: block;
    margin: auto;
    margin-bottom: 1rem; }
  .form__register {
    text-align: left;
    width: 50%;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .form__register {
        width: 80%; } }
    .form__register .heading-tertiary {
      color: #333;
      font-size: 2rem; }
    .form__register input[type="date"]::-webkit-calendar-picker-indicator {
      display: none; }
    .form__register input[type="date"]::-webkit-calendar-spin-button {
      display: none; }
  .form__radio-group {
    display: inline-block;
    padding: 0 2rem; }
    .form__radio-group:not(:last-child) {
      margin-right: .5rem; }
  .form__radio-input {
    display: none; }
  .form__label-radio {
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    padding-left: 2.5rem; }
  .form__radio-button {
    height: 2rem;
    width: 2rem;
    border: 1px solid #333;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0rem;
    left: 0; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background-color: #320d59;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .1s;
      opacity: 0; }
  .form__radio-input:checked + .form__label-radio .form__radio-button::after {
    opacity: 1; }
  .form__disclaimer {
    padding-left: 2.25rem;
    margin: 2rem 0;
    font-size: 1.25rem;
    color: #333; }
  .form__select-group {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
    width: 100%; }
  .form__select {
    display: inline-block;
    padding: 1rem 1.25rem;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
    background: #fff;
    color: #4d4d4d;
    outline: 0;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .form__select::-ms-expand {
      display: none; }
    .form__select:hover, .form__select:focus {
      border: 2px solid #320d59;
      color: #333;
      background: #ffffff;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.35); }
    .form__select:disabled {
      opacity: 0.5;
      pointer-events: none; }
  .form__select-arrow {
    position: absolute;
    top: 1.25rem;
    right: 5rem;
    width: 1rem;
    height: 1rem;
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .form__select ~ .form__select-arrow,
  .form__select:focus ~ .form__select-arrow {
    border-color: #cccccc; }
  .form__select:disabled ~ .form__select-arrow {
    border-top-color: #e5e5e5; }
  .form__submit-group {
    padding: 2rem;
    text-align: right; }
    .form__submit-group button {
      margin-bottom: 2rem;
      display: inline-block; }

.security-heading {
  padding-left: 4rem;
  margin-bottom: 1rem; }

section.section-login .form__login-submit {
  margin-top: 2rem; }

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; }
  @media (max-width: 37.5em) {
    .hero {
      width: 90%; } }

.player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 3rem;
  background-color: #1a1a1a; }
  .player__controls {
    display: inline-block;
    padding: 0 3rem;
    vertical-align: center;
    width: 85%; }
    @media (max-width: 37.5em) {
      .player__controls {
        margin-top: 1rem; } }
  .player__play-icon {
    font-size: 2rem;
    color: #e5e5e5;
    padding: 1rem;
    text-align: center;
    cursor: pointer; }
  .player__track-name {
    font-size: 1.8rem;
    color: #e5e5e5;
    display: inline-block; }
  .player__seek-bar {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 1rem;
    background-color: #4d4d4d;
    margin-left: 4rem;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .player__seek-bar {
        width: 25%; } }
  .player__seek-button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #320d59;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transition: all .1s; }
    .player__seek-button:hover {
      transform: translate(-50%, -50%) scale(1.08); }
  .player__duration-remaining {
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 2rem; }
  .player__volume {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    font-size: 1.9rem; }
  .player__close {
    font-size: 2rem;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e5e5e5; }

.no-user {
  height: 80vh;
  width: 100%;
  position: relative;
  background-color: #cccccc;
  text-align: center; }
  .no-user__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .no-user__link {
    display: inline-block;
    margin-top: 3rem; }

.banner {
  margin-top: 10rem;
  width: 100%;
  background: linear-gradient(to right, #4b1486, #19072d);
  padding: 2rem 4rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .banner {
      margin-top: 12rem; } }
  .banner__img {
    display: inline-block;
    margin-right: 3rem;
    height: 12rem;
    color: #fff;
    vertical-align: top; }
  .banner__info {
    display: inline-block;
    vertical-align: top;
    padding-top: 2rem; }
  .banner__text {
    color: #e5e5e5;
    margin: .6rem 0; }
    .banner__text--header {
      color: #fff; }
  .banner__actions {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 2%;
    right: 5%;
    vertical-align: center;
    padding: 2rem 0; }
  .banner__actions > * {
    display: block;
    width: 18rem;
    text-align: center; }
    .banner__actions > *:not(:last-child) {
      margin-bottom: 3rem; }

.profile-actions {
  background-color: #fff;
  padding: 2rem 5rem; }
  .profile-actions__button {
    padding: .2rem;
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .profile-actions__button:not(:last-child) {
      margin-right: 2rem; }
  .profile-actions__icon-container {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    height: 5rem;
    width: 5rem;
    transition: all .1s; }
    .profile-actions__icon-container--purple {
      background-color: #320d59; }
      .profile-actions__icon-container--purple:hover {
        background-color: #4b1486; }
    .profile-actions__icon-container--orange {
      background-color: #ebb916; }
      .profile-actions__icon-container--orange:hover {
        background-color: #d5a712; }
  .profile-actions__icon {
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .profile-actions__icon--purple {
      color: #320d59; }
    .profile-actions__icon--white {
      color: #fff; }
  .profile-actions__text {
    display: inline-block;
    vertical-align: top;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.4rem 1rem; }
  .profile-actions__add-track {
    background-color: #cccccc; }

.profile-info {
  background-color: #e5e5e5;
  padding: 2rem; }
  .profile-info__about {
    display: inline-block;
    width: 55%;
    padding: 1rem;
    background-color: #cccccc;
    margin-right: 1rem; }
  .profile-info__description-container {
    height: 15rem;
    padding: .5rem 1rem; }
  .profile-info__snapshot {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
  .profile-info__stats-container {
    background-color: #cccccc;
    text-align: center;
    padding: 1rem; }
  .profile-info__list-container {
    display: inline-block;
    width: 45%;
    margin-top: 1rem;
    vertical-align: top;
    padding-bottom: 2rem; }
  .profile-info__list {
    margin-left: 2.5rem; }
  .profile-info__item {
    font-size: 1.5rem; }
  .profile-info__header {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .profile-info__text {
    font-size: 1.5rem; }
  .profile-info__stats {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .profile-info__ad-container {
    background-color: #000;
    text-align: center;
    margin-top: 1rem;
    height: 10rem; }

.profile-tracks {
  background-color: #cccccc;
  padding: 2rem; }
  .profile-tracks__link-container {
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 2rem; }
  .profile-tracks__link {
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase; }
  .profile-tracks__track-container {
    padding: 2rem 8rem; }

.slide-list {
  padding: 0 13rem;
  color: #fff;
  margin-bottom: 25rem; }
  .slide-list__item {
    list-style: none;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: .4rem;
    background-color: #4d4d4d;
    padding: 1rem;
    transition: all .2s; }
    .slide-list__item:not(:last-child) {
      margin-bottom: 3rem; }
  .slide-list__toggle {
    display: none; }
  .slide-list__toggle:checked ~ .slide-list__text {
    display: block; }
  .slide-list__toggle:checked + .slide-list__button {
    background-color: #404040; }
  .slide-list__toggle:checked + .slide-list__button .slide-list__icon--down {
    display: none; }
  .slide-list__toggle:checked + .slide-list__button .slide-list__icon--up {
    display: block; }
  .slide-list__button {
    display: block;
    position: relative;
    padding: .5rem;
    cursor: pointer;
    transition: all .1s; }
    .slide-list__button:hover {
      background-color: #404040;
      border-radius: .5rem; }
  .slide-list__text {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 8rem 1rem 2rem;
    display: none; }
  .slide-list__icon {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%); }
    .slide-list__icon--up {
      display: none; }

.track {
  height: 24rem;
  width: 18rem;
  display: inline-block;
  margin: 0 6rem 2rem 0;
  position: relative;
  background-size: contain;
  cursor: pointer; }
  .track__play {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    opacity: .5;
    color: #333; }
  .track__text-box {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #333;
    width: 100%;
    padding: 1rem;
    text-align: center;
    cursor: initial; }
  .track__title {
    color: #fff; }
  .track__release {
    color: #cccccc; }

.buffer {
  width: 100%;
  height: 10rem;
  background: linear-gradient(to bottom, #cccccc, #a5a5a5); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1 {
    width: 100%; }
  .row .col-1-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-4 {
    width: calc((2 * (100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-4 {
    width: calc((3 * (100% - 3 * 2rem) / 4) + (2 * 2rem)); }

.footer {
  width: 100%;
  height: auto;
  background: #19072d;
  color: #8f60b2; }
  .footer__logo-box {
    display: inline-block;
    padding: 6rem;
    width: 33%; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        display: block;
        width: 100%;
        text-align: center;
        padding: 4rem; } }
  .footer__logo {
    margin-top: -2.5rem;
    height: 4rem;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo {
        margin-bottom: 2rem; } }
  .footer__brand {
    font-size: 1.5rem;
    font-weight: 300;
    color: inherit;
    margin-left: 1rem; }
  .footer__nav {
    width: 67%;
    padding: 5rem 1rem 1rem 1rem;
    display: inline-block;
    color: #754996;
    vertical-align: top; }
    @media (max-width: 56.25em) {
      .footer__nav {
        width: 90%;
        padding: 1rem 1rem 2rem 6rem;
        display: block;
        vertical-align: center;
        margin: 0 auto; } }
    @media (max-width: 37.5em) {
      .footer__nav {
        width: 100%;
        padding: 1rem 1rem 2rem 3rem;
        display: inline-block;
        vertical-align: center; } }
    .footer__nav-list {
      display: inline-block;
      vertical-align: top;
      transition: ease-in-out all 0.15s; }
      .footer__nav-list:not(:last-child) {
        margin-right: 9rem; }
      @media (max-width: 56.25em) {
        .footer__nav-list:not(:last-child) {
          margin-right: 7rem; } }
      @media (max-width: 37.5em) {
        .footer__nav-list:not(:last-child) {
          margin-right: 5rem; } }
    .footer__nav-title {
      margin-bottom: 1rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: inherit; }
    .footer__nav-item {
      list-style: none; }
      .footer__nav-item:not(:last-child) {
        margin: 0; }
    .footer__nav-link {
      display: block;
      font-family: sans-serif; }
      .footer__nav-link:link, .footer__nav-link:visited {
        color: #754996;
        font-size: 1.5rem;
        line-height: 2.25rem; }
      .footer__nav-link:hover, .footer__nav-link:active {
        color: #b394cb;
        transition: ease-in-out all 0.15s; }

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  padding: 3rem 5rem;
  display: none; }
  @media (max-width: 56.25em) {
    .mobile-nav {
      display: block; } }
  .mobile-nav__brand {
    height: 6rem; }
  .mobile-nav__button {
    position: fixed;
    top: 5%;
    right: 5%;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    transform: translateY(-50%);
    cursor: pointer; }
  .mobile-nav__menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: .6rem;
    border-radius: 1rem;
    background-color: #fff; }
    .mobile-nav__menu-icon::before, .mobile-nav__menu-icon::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: .6rem;
      border-radius: 1rem;
      background-color: #fff;
      transition: all .2s; }
    .mobile-nav__menu-icon::before {
      top: -1.1rem; }
      .mobile-nav__menu-icon::before:hover {
        top: -1.2rem; }
    .mobile-nav__menu-icon::after {
      top: 1.2rem; }
      .mobile-nav__menu-icon::after:hover {
        top: 1.3rem; }
  .mobile-nav__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    background-color: #333;
    padding: 3rem 6rem;
    transition: all .4s; }
  .mobile-nav__title {
    color: #fff;
    font-size: 5rem;
    padding: 2rem 0 3rem 0;
    border-bottom: 1px solid #000;
    font-weight: 400; }
    .mobile-nav__title strong {
      font-weight: 700; }
  .mobile-nav__list {
    margin-top: 2rem; }
  .mobile-nav__item {
    list-style: none;
    font-size: 3rem;
    margin: 2rem 0;
    padding: 1rem 0; }
  .mobile-nav__link, .mobile-nav__link:visited {
    color: #fff;
    display: block; }
    .mobile-nav__link:not(:last-child), .mobile-nav__link:visited:not(:last-child) {
      border-bottom: 1px solid #000; }
  .mobile-nav__toggle {
    display: none; }
  .mobile-nav__toggle:checked ~ .mobile-nav__nav {
    left: 0; }

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 3rem;
  color: #fff;
  z-index: 20; }
  @media (max-width: 56.25em) {
    .navigation {
      display: none; } }
  .navigation__logo-box {
    display: inline-block; }
  .navigation__logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    height: 6rem; }
  .navigation__brand {
    font-size: 3rem; }
  .navigation__nav {
    float: right;
    display: inline-block;
    margin-right: 5rem; }
  .navigation__nav-container {
    display: inline-block; }
  .navigation__divider {
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0.5rem;
    width: 1px;
    height: 3rem;
    background-color: #19072d; }
  .navigation__item {
    list-style: none;
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin: 0; }
  .navigation__link {
    display: inline-block;
    transition: ease-in-out all 0.15s;
    line-height: 10rem;
    padding: 0 1rem;
    font-weight: 700; }
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.5rem;
      color: #4b1486;
      display: inline-block;
      text-decoration: none; }
    .navigation__link:hover {
      color: #19072d;
      transition: ease-in-out all 0.15s; }
  .navigation__pop-up {
    width: 100%;
    background-color: #cccccc; }
  .navigation__log-in {
    font-size: 1.5rem;
    cursor: pointer;
    color: #4b1486;
    font-weight: 700;
    transition: all .1s; }
    .navigation__log-in:hover {
      color: #19072d; }

.information {
  width: 100%;
  background-color: #1a1a1a; }
  .information__hero {
    padding: 13rem 10rem 8rem 10rem; }
  .information__header {
    color: #fff;
    display: inline-block;
    padding: 2rem 0;
    border-bottom: 1px solid white; }

.section-hero {
  height: 85vh;
  background-image: url("../img/StudioMan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  position: relative;
  z-index: 5; }

.section-features {
  background-color: white;
  color: #fff; }

.page-registration {
  background-color: white; }

.section-brand {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent); }

.section-login {
  padding: 5rem;
  text-align: center; }

.section-register {
  margin-top: 5rem;
  text-align: center; }
